
<STYLE TYPE="text/css">

  	html, body	{	height: 100%; }
	
	body {
		margin: 15px;
		padding: 0px 0px 10px 10px;
		background: #FFF;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		color: #353434; 
	}
		
	h2{
		padding: 0.3em 0em 0.3em 0em;
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-size: 1.1em; 
	}

	small { font-size: 75%; }

</STYLE>
